

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-right: 6%;
}

.gallery-item {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.gallery-item img {
    height: 300px; /* Set the fixed height */
    width: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.return-button {
    margin: 10px;
}

.return-button a {
  text-decoration: none;
  color: white; /* Or any color you prefer */
}

.return-button a:hover {
  color: #d0d0d0; /* Hover color */
}

.return-button .fa-arrow-left {
  font-size: 24px; /* Adjust size as needed */
}
  