.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #1a2b4a;
    box-sizing: border-box;
  }

  .header-left {
    flex: 0.5; 
    padding-left: 0px; 
  }
  
  .header-left h1 {
    margin: 0;
    padding-left: 10%;
    font-size: 4rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header-right {
    flex-shrink: 0; 
  }

  .header-right img {
    max-width: 150px; 
    border-radius: 50%; 
    object-fit: cover;
  }
  