.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #1a2b4a; /* Optional: Add a background color */
    box-sizing: border-box;
  }

  .header-left {
    flex: 0.5; /* Allow this section to take up available space */
    padding-left: 0px; /* Adjust the padding as needed */
  }
  
  .header-left h1 {
    margin: 0;
    padding-left: 10%;
    font-size: 4rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header-right {
    flex-shrink: 0; /* Prevent the image from shrinking */
  }

  .header-right img {
    max-width: 150px; /* Adjust size as needed */
    border-radius: 50%; /* Optional: Make image circular */
    object-fit: cover;
  }
  