
.journal-container {
    display: flex;
    flex-direction: column; 
    padding-left: 10%;
    padding-top: 10%;
    position: fixed; 
    width: 1000px;
    left: 0;
    top: 0;
}

.journal-titles {
    margin: 0;
    padding-left: 7%;
}

.journal-link {
    background: none;
    cursor: pointer;
    border: none;
    display: block;
    margin: 10px 0;
    transition: border-color 0.3s;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    padding-bottom: 5px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

.journal-link:hover {
    color: #d0d0d0; 
}

.main-content {
    margin-left: 320px; 
    padding: 20px;
}

.return-button {
    margin: 10px;
}

.return-button a {
  text-decoration: none;
  color: white; 
}

.return-button a:hover {
  color: #d0d0d0; 
}

.return-button .fa-arrow-left {
  font-size: 24px;
}
  